*{
    box-sizing: border-box;
}


body{
    background: #181818;
    color: white;
    font-weight: 300;
    overflow: hidden;
    margin: 0;
}

#joint{
    display: flex;
    flex-direction: row;
}

#left{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#right{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

/* Left side */
#Sign-in{
    width: 80%;
}
#logo{
    margin-bottom: 2rem;
    color: #f96816;
}
#text-email.label{
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 2rem;
}
.input-space{
    display: block;
    width: 100%;
    border: 1px solid white;
    border-radius: 2px;
    line-height: 1.3rem;
    padding: 4px 6px;
    margin-bottom: 1.3rem;
    background-color: #181818;
}
.btn-1{
    width: 100%;
    padding: 5px 9px;
    background-color: #f96816;
    font-weight: 300;
    color: white;
    line-height: 1.3rem;
    border: 1px solid white;
    border-radius: 2px;
    margin-bottom: 3rem;
}
.btn-1:hover{
    background-color: darkorange;
    text-shadow: 0 0 5px black;
    cursor: pointer;
}
#link a{
    text-decoration: none;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    color: #f96816;
}
#link a:hover{
    color: aqua;
}
.btn-2{
    margin: 0.5rem 0 5rem 0;
    width: 100%;
    padding: 4px 9px;
    line-height: 1.3rem;
    font-weight: 300;
    font-size: 0.9rem;
    background-color: gray;
    color: white;
}
.btn-2:hover{
    background-color: darkgray;
    text-shadow: 0 0 5px black;
    cursor: pointer;
}
#Sign-in footer{
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
    color: white;
    text-decoration: none;
}
footer a{
    color: #f96816;
    margin: 0;
}
footer a:hover{
    color: aqua;
}
footer p{
    margin-bottom: 0;
}

/* Right Side */
#right{
    background-image: url(https://media.giphy.com/media/8NWA4MlIkTZfy/giphy.gif) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#content{
    width: 80%;
    text-align: center;
}

#content-text{
    font-size: 1.5rem;
    font-weight: 300;
    color: #f96816;
    margin-bottom: 0;
}
.btn-3{
    margin-top: 0;
    width: 20rem;
    line-height: 1.3rem;
    padding: 4px 9px;
    text-align: center;
    background: none;
    color: #f96816;
    border: 1px solid #f96816;
}
.btn-3:hover{
    cursor: pointer;
    background-color: #f96816;
    color: #181818;
    text-shadow: 0 0 5px black;
}

@media(min-width:1200px){
    #left{
        flex: 4;
    }
    #right{
        flex: 6;
    }

}

@media(max-width:756px){
    body{
        overflow: auto;
    }
    #joint{
        display: flex;
        flex-direction: column;
    }
}